Package: bodhi-plymouth-theme
Version: 0.3
Section: main
Priority: optional
Architecture: all
Installed-Size:
Maintainer: Jeff Hoogland
Description: Bodhi Linux Plymouth Theme
 A plymouth theme for Bodhi Linux
