Package: bodhi-openoffice
Version: 1:4.1.1bodhi1
Section: main
Priority: optional
Architecture: all
Depends: openoffice, openoffice-math, openoffice-writer, openoffice-calc, openoffice-base, openoffice-draw, openoffice-impress, openoffice-gnome-integration, openoffice-images, openoffice-ure, openoffice-pyuno, openoffice-brand-base, openoffice-brand-calc, openoffice-brand-draw, openoffice-brand-en-us, openoffice-brand-impress, openoffice-brand-math, openoffice-brand-writer, openoffice-debian-menus, hunspell-en-us
Maintainer: Jeff Hoogland
Description: Open Office
  A meta package to pull in all of OpenOffice 4.1.1

