Package: libreoffice-draw
Version: 1:5.0.0bodhi1
Section: main
Priority: optional
Architecture: all
Depends: libreoffice5.0-draw, libreoffice5.0-en-us, libobasis5.0-ooolinguistic
Maintainer: Jeff Hoogland
Description: libreoffice-draw
  A meta package to transition to LibreOffice 5.0

