Package: libreoffice-draw
Version: 1:5.1.0bodhi2
Section: main
Priority: optional
Architecture: all
Depends: libreoffice5.1-draw, libreoffice5.1-en-us, libobasis5.1-ooolinguistic
Maintainer: Jeff Hoogland
Description: libreoffice-draw
  A meta package to transition to LibreOffice 5.1

