Package: bodhi-lightdm-theme
Version: 1.06
Architecture: all
Maintainer: Jeff Hoogland
Installed-Size: 552
Depends: enlightenment, lightdm-gtk-greeter
Section: misc
Priority: optional
Description: Bodhi LightDM setup
 The lightdm greeter theme and configuration
 used for a standalone Bodhi installation.
 .
 This package can also be installed on
 other Ubuntu desktops desiring to use this
 theme, but it will replace the LightDM theme.
