Package: libreoffice-calc
Version: 1:4.4.0bodhi1
Section: main
Priority: optional
Architecture: all
Depends: libreoffice4.4-calc, libreoffice4.4-en-us, libobasis4.4-ooolinguistic
Maintainer: Jeff Hoogland
Description: libreoffice-calc
  A meta package to transition to LibreOffice 4.4

