Package: c720-hdmi-switcher
Version: 1.0
Section: main
Priority: optional
Architecture: all
Depends: pulseaudio
Maintainer: Jeff Hoogland
Description: Audio Switching udev rules for C720
 Switches your audio output automatically when an HDMI device is attached to your Acer C720

