Package: libreoffice
Version: 1:5.0.2bodhi1
Section: main
Priority: optional
Architecture: all
Depends: libreoffice-math, libreoffice-writer, libreoffice-calc, libreoffice-base, libreoffice-draw, libreoffice-impress, libreoffice5.0-en-us, libobasis5.0-ooolinguistic, libobasis5.0-gnome-integration, hunspell-en-us, libglu1-mesa
Replaces: libreoffice-common
Conflicts: libreoffice-common
Maintainer: Jeff Hoogland
Description: Libreoffice 5.0
  LibreOffice is a free and open source office suite, developed by The Document Foundation. It was forked from OpenOffice.org in 2010, which was an open-sourced version of the earlier StarOffice. The LibreOffice suite comprises programs to do word processing, spreadsheets, slideshows, diagrams and drawings, maintain databases, and compose mathematical formulae.

