Package: libreoffice-math
Version: 1:4.3.0bodhi1
Section: main
Priority: optional
Architecture: all
Depends: libreoffice4.3-math, libreoffice4.3-en-us, libobasis4.3-ooolinguistic
Maintainer: Jeff Hoogland
Description: libreoffice-math
  A meta package to transition to LibreOffice 4.3

