Package: chromebook-profile-e19
Version: 0.4
Section: main
Priority: optional
Depends: e19
Conflicts: e17
Replaces: bodhi-profile-e19
Provides: bodhi-profile-e19
Architecture: all
Maintainer: Jeff Hoogland
Uploaders: Eric Brown, Doug Yanez
#Vcs-Browser: https://github.com/Feneric/bodhi3packages
Description: Bodhi Chromebook Profile
 A Chromebook E19 profile for Bodhi Linux

