Package: chromebook-profile-e19
Version: 0.2
Section: main
Priority: optional
Depends: e19, radiance-theme-e19, light-themes
Replaces: bodhi-profile-e19
Provides: bodhi-profile-e19
Architecture: all
Maintainer: Jeff Hoogland
Description: Bodhi Chromebook Profile
 A Chromebook E19 profile for Bodhi Linux

