[Desktop Entry]
Type=Link
Name=Laptop/Netbook
Icon=icon.png
Comment=A basic setup suitable for most laptop or netbook users.<br>Contains a menu, taskbar, systray,<br>power monitor, cpu scaler, and clock along the top.<br>Application launcher along the bottom.<br>
