Package: bodhi-background-stones
Version: 0.02
Architecture: all
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Depends: enlightenment
Section: unknown
Priority: optional
Homepage: http://bodhilinux.com
Description: Bodhi default background
  The default background for Bodhi 3.0
