Package: apturl-elm
Version: 0.3
Section: main
Priority: optional
Replaces: apturl, apturl-common
Provides: apturl, apturl-common
Architecture: all
Depends: python-efl, esudo
Maintainer: Jeff Hoogland
Description: apturl-elm (elementary apturl frontend)
 An Elementary GUI for apturl written in py-efls.
