[Desktop Entry]
Type=Link
Name=Bare
Icon=icon.png
Comment=A bare setup with very little loaded.<br>Great for creating your own custom Enlightenment configuration from.<br>Recommended for advanced users only.<br>
