Package: bodhi-maxo-remix
Version: 0.53
Section: main
Priority: optional
Architecture: all
Installed-Size:
Maintainer: Jeff Hoogland
Description: maxo-remix Icon Theme
 maxo-remix icon theme for your Bodhi Desktop 
