Package: chromebook-skel
Version: 0.4
Section: main
Priority: optional
Replaces: bodhi-skel
Provides: bodhi-skel
Architecture: all
Maintainer: Jeff Hoogland
Description: Chromebook Skel Files
 Provides skel files for new chromebook users
