[Desktop Entry]
Type=Link
Name=Compositing
Icon=icon.png
Comment=A vertical setup with flashy effects.<br>Uses E's built in compositing window manager.<br>Works with both software and hardware acceleration.<br>
