Package: bodhi-profile-e19
Version: 0.6
Section: main
Depends: radiance-blue-theme-e19
Priority: optional
Depends: e19
Architecture: all
Maintainer: Jeff Hoogland
Description: Bodhi Profile
 The default E19 profile for Bodhi Linux

