Package: bodhi-profile-e19
Version: 0.11
Section: main
Priority: optional
Depends: e19, radiance-theme-e19, light-themes
Architecture: all
Maintainer: Jeff Hoogland
Description: Bodhi Profile
 The default E19 profile for Bodhi Linux

