/*************************
 * Check and Radio items *
 *************************/

/* First draw regular check and radio items */

.check,
.check row:selected,
.check row:selected:focus {
	background-image: url("assets/checkbox-unchecked-dark.svg");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
	background-image: url("assets/checkbox-unchecked-insensitive-dark.svg");
}

.check:active,
.check row:selected:active,
.check row:selected:focus:active {
	background-image: url("assets/checkbox-checked-dark.svg");
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive
{
	background-image: url("assets/checkbox-checked-insensitive-dark.svg");
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
	background-image: url("assets/checkbox-mixed-dark.svg");
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
	background-image: url("assets/checkbox-mixed-insensitive-dark.svg");
}

.radio,
.radio row:selected,
.radio row:selected:focus {
	background-image: url("assets/radio-unselected-dark.svg");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
	background-image: url("assets/radio-unselected-insensitive-dark.svg");
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focus:active {
	background-image: url("assets/radio-selected-dark.svg");
}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focus:active:insensitive {
	background-image: url("assets/radio-selected-insensitive-dark.svg");
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
	background-image: url("assets/radio-mixed-dark.svg");
}

.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
	background-image: url("assets/radio-mixed-insensitive-dark.svg");
}

.sidebar .radio:active,
.sidebar .radio:active:focus,
.sidebar .radio:active:prelight {
	background-image: url("assets/sidebar-radio-checked-dark.svg");
}

.sidebar .radio:prelight {
	background-image: url("assets/sidebar-radio-prelight.svg");
}

.sidebar .radio:active:selected,
.sidebar .radio:active:selected:focus {
	background-image: url("assets/sidebar-radio-selected-dark.svg");
}

.sidebar .radio:selected:prelight,
.sidebar .radio:selected:focus {
	background-image: url("assets/sidebar-radio-selected-prelight.svg");    
}

/* Now draw menu check and radio items */

.menuitem.radio,
.menuitem.radio:hover,
.menuitem.radio:insensitive,
.menuitem.check,
.menuitem.check:hover,
.menuitem.check:insensitive {
	background-color: transparent;
	background-image: none;
	border-style: none;
	border-image: none;
}

.menuitem.radio:active {
	background-image: url("assets/radio-menuitem-checked.svg");
}

.menuitem.radio:active:hover {
	background-image: url("assets/radio-menuitem-checked-prelight.svg");
}

.menuitem.radio:active:insensitive {
	background-image: url("assets/radio-menuitem-checked-insensitive.svg");
}

.menuitem.radio:inconsistent {
	background-image: url("assets/radio-menuitem-mixed.svg");
}

.menuitem.radio:inconsistent:hover {
	background-image: url("assets/radio-menuitem-mixed-prelight.svg");
}

.menuitem.radio:inconsistent:insensitive {
	background-image: url("assets/radio-menuitem-mixed-insensitive.svg");
}

.menuitem.check:active {
	background-image: url("assets/checkbox-menuitem-checked.svg");
}

.menuitem.check:active:hover {
	background-image: url("assets/checkbox-menuitem-checked-prelight.svg");
}

.menuitem.check:active:insensitive {
	background-image: url("assets/checkbox-menuitem-checked-insensitive.svg");
}

.menuitem.check:inconsistent {
	background-image: url("assets/checkbox-menuitem-mixed.svg");
}

.menuitem.check:inconsistent:hover {
	background-image: url("assets/checkbox-menuitem-mixed-prelight.svg");
}

.menuitem.check:inconsistent:insensitive {
	background-image: url("assets/checkbox-menuitem-mixed-insensitive.svg");
}

/* Also draw toggle button check items (a redundant Gtk+ widget) */

.button.check,
.button.check:hover {
	border-style: none;
	border-image: none;
	background-image: url("assets/checkbox-unchecked-dark.svg");
}

.button.check:insensitive {
	border-style: none;
	border-image: none;
	background-image: url("assets/checkbox-unchecked-insensitive-dark.svg");
}

.button.check:active,
.button.check:active:hover {
	background-image: url("assets/checkbox-checked-dark.svg");
}

.button.check:active:insensitive {
	background-image: url("assets/checkbox-checked-insensitive-dark.svg");
}

.button.check:inconsistent,
.button.check:inconsistent:hover {
	background-image: url("assets/checkbox-mixed-dark.svg");
}

.button.check:inconsistent:insensitive {
	background-image: url("assets/checkbox-mixed-insensitive-dark.svg");
}

/***********
 * Entries *
 ***********/

.entry,
GtkSwitch.trough {
    border-image: url("assets/entry-border-dark.svg") 1 / 1px stretch;
}

GtkSwitch.trough:active {
    border-image: url("assets/switch-trough-active.svg") 1 / 1px stretch;
}

.frame,
GtkCalendar.view {
    border-image: url("assets/frame-border-dark.svg") 1 / 1px stretch;
}

/***********
 * Sliders *
 ***********/

GtkScale.slider,
GtkScale.slider.horizontal {
	background-image: url("assets/knob_horizontal.png");
}

GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive {
	background-image: url("assets/scale-slider-horizontal-insensitive-dark.png");
}

GtkScale.slider.vertical {
	background-image: url("assets/knob_vertical.png");
}

GtkScale.slider.vertical:insensitive {
	background-image: url("assets/scale-slider-vertical-insensitive-dark.png");
}

GtkScale.scale-has-marks-above.slider.horizontal {
	background-image: url("assets/scale-slider-marks-above-horizontal-dark.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive {
	background-image: url("assets/scale-slider-marks-above-horizontal-insensitive-dark.svg");
}

GtkScale.scale-has-marks-above.slider.vertical {
	background-image: url("assets/scale-slider-marks-above-vertical-dark.svg");
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive {
	background-image: url("assets/scale-slider-marks-above-vertical-insensitive-dark.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal {
	background-image: url("assets/scale-slider-marks-below-horizontal-dark.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal:insensitive {
	background-image: url("assets/scale-slider-marks-below-horizontal-insensitive-dark.svg");
}

GtkScale.scale-has-marks-below.slider.vertical {
	background-image: url("assets/scale-slider-marks-below-vertical-dark.svg");
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive {
	background-image: url("assets/scale-slider-marks-below-vertical-insensitive-dark.svg");
}

.cursor-handle.top {
	background-image: url("assets/scale-slider-marks-above-horizontal-dark.svg");
}

.cursor-handle.bottom {
	background-image: url("assets/scale-slider-marks-below-horizontal-dark.svg");
}

/***********
 * Buttons *
 ***********/

.button,
.toolbar,
.inline-toolbar.toolbar,
.toolbar .button:hover,
.primary-toolbar .button:hover,
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover,
.toolbar GtkComboBox .button,
.primary-toolbar .toolbar GtkComboBox .button,
.primary-toolbar.toolbar GtkComboBox .button,
GtkSwitch.slider,
.titlebar .titlebutton:hover {
	border-image: url("assets/button-border-dark.svg") 3 / 3px stretch;
}

GtkSwitch.slider:active {
	border-image: url("assets/switch-border-active.svg") 3 / 3px stretch;
}

.button:active,
.button:hover:active,
.toolbar .button:active,
.primary-toolbar .button:active,
.primary-toolbar .toolbar .button:active,
.primary-toolbar.toolbar .button:active,
.toolbar .button:hover:active,
.primary-toolbar .button:hover:active,
.primary-toolbar .toolbar .button:hover:active,
.primary-toolbar.toolbar .button:hover:active,
.titlebar .titlebutton:active {
	border-image: url("assets/button-active-border-dark.svg") 3 / 3px stretch;
}

/*.toolbar .button:hover,
.primary-toolbar .button:hover,
.primary-toolbar .toolbar .button:hover,
.primary-toolbar.toolbar .button:hover {
	border-image: url("assets/toolbar-button-hover.svg") 3 / 3px stretch;
}*/

.button:insensitive {
	border-image: url("assets/button-border-insensitive.svg") 3 / 3px stretch;
}

.button:active:insensitive {
	border-image: url("assets/button-active-border-insensitive.svg") 3 / 3px stretch;
}

.button.default,
.notebook .button.default {
	border-image: url("assets/button-default-border-dark.svg") 3 / 3px stretch;
}

.button.default:active,
.notebook .button.default:active {
	border-image: url("assets/button-default-active-border-dark.svg") 3 / 3px stretch;
}

column-header .button,
GtkTreeView .button,
GtkCalendar.header {
	border-image: url("assets/column-header-border-dark.svg") 2 0 2 1 / 2px 0px 2px 1px stretch;
}

/*********************
 * Notebook and Tabs *
 *********************/

.notebook {
    border-image: url("assets/notebook-border-dark.svg") 0 1 1 1 / 0px 1px 1px 1px stretch;
}

.notebook tab {
	border-image: url("assets/tab-border.svg") 2 / 2px stretch;
}

.notebook tab:active {
	border-image: url("assets/tab-active-border.svg") 2 / 2px stretch;
}

.notebook tab.left:active {
	border-image: url("assets/tab-active-border-left.svg") 2 / 2px stretch;
}

.notebook tab.right:active {
	border-image: url("assets/tab-active-border-right.svg") 2 / 2px stretch;
}

.notebook tab.bottom:active {
	border-image: url("assets/tab-active-border-bottom.svg") 2 / 2px stretch;
}

/**************
 * Tree Views *
 **************/

GtkTreeView row:selected,
GtkTreeView row:selected:focus {
	border-image: url("assets/row-selected-dark.svg") 1 0 0 0 / 1px 0px 0px 0px stretch;
}

/*********
 * Menus *
 *********/

.menu,
.menubar .menu,
.menuitem .menu {
	border-image: url("assets/menu-border-dark.svg") 0 1 1 1 / 0px 1px 1px 1px stretch;
}


/***************
 * Scroll Bars *
 ***************/

.scrollbar.slider {
	border-image: url("assets/scrollbar-slider-border-dark.svg") 2 / 2px stretch;
}

.scrollbar.slider.vertical {
	border-image: url("assets/scrollbar-slider-border-vertical.svg") 2 / 2px stretch;
}
