Package: bodhi-profile-moksha
Version: 0.9
Section: main
Priority: optional
Depends: moksha, bodhi-background-edj, bodhi-awoken, radiance-graphite, bodhi-theme-moksha-radiance, places-moksha, moksha-pulsemixer
Conflicts: e19, e18
Architecture: all
Maintainer: Doug Yanez
Uploaders: Jeff Hoogland, Eric Brown
#Vcs-Browser: https://github.com/Feneric/bodhi3packages
Description: Bodhi Moksha profile
 The default Moksha profile for Bodhi Linux
