Package: eepdater
Version: 0.4
Section: main
Priority: optional
Architecture: all
Depends: python-efl, python-apt, esudo
Maintainer: Jeff Hoogland
Description: eepDater GUI System Updater
 An Elementary GUI for installing system updates written in py-efls.
