Package: bodhi-profile-e17
Version: 0.10
Section: main
Priority: optional
Depends: e17, bodhi-background-edj, numix-icon-theme-bevel
Conflicts: e19, bodhi-profile-e19, e18, bodhi-profile-e18
Architecture: all
Maintainer: Doug Yanez
Uploaders: Jeff Hoogland, Eric Brown
#Vcs-Browser: https://github.com/Feneric/bodhi3packages
Description: Legacy Bodhi E17 profile
 The default E17 profile for Legacy Bodhi Linux
