Package: bodhi-profile-e17
Version: 0.01
Section: main
Priority: optional
Depends: enlightenment, bodhi-theme-e17-speedy
Architecture: all
Maintainer: Doug Yanez
Description: Bodhi E17 profile
 The default E17 profile for Bodhi Linux
