[Desktop Entry]
Type=Link
Name=Tablet
Icon=icon.png
Comment=A setup optimized for small and/or touch screen systems.<br>A single bar at the top for gadgets and a menu,<br>application launchers in the center of the screen.<br>Applications run fullscreen<br>
