/*******************************

THE CLOTHES
* SHES IN A SEXY ONE PIECE.
* DRESSED TO IMPRESS

*******************************/
/*
GENERAL
*/
img {
  padding: 1%;
  position: relative;
  bottom: 5px;
  display: block;
}
img.bodhiheader {
width: 37%;
position: relative;
}
.normalpicture { 
}
.normalpicture img { 
	border: 1px solid #CCCCCC; 
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	border-radius: 5px 5px 5px 0px;
	vertical-align:middle; 
	margin-bottom: 1px; 
}
.picture { 
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC; 
	padding: 2px;
	border-radius: 5px 5px 5px 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	box-shadow: 0px 3px 8px #191919;
}
.picture img { 
	border: 1px solid #CCCCCC; 
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	bottom: 0px;
	border-radius: 5px 5px 5px 0px;
	vertical-align:middle; 
	margin-bottom: 1px; 
}
.picture span {
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.noborder { 
	border: none;
	border-radius: 0px;
}
