/*******************************

THE FACE
* SHES LOOKING GOOD

*******************************/

header {
	background: -moz-linear-gradient(top,  rgba(177,199,92,0.8) 0%, rgba(90,134,10,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,199,92,0.8)), color-stop(100%,rgba(90,134,10,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(177,199,92,0.8) 0%,rgba(90,134,10,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(177,199,92,0.8) 0%,rgba(90,134,10,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(177,199,92,0.8) 0%,rgba(90,134,10,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(177,199,92,0.8) 0%,rgba(90,134,10,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb1c75c', endColorstr='#e65a860a',GradientType=0 ); /* IE6-8 */
	height:56px; 
	top:5px; 
	left:5px; 
	right:5px; 
	position: fixed; 
	border:1px solid #5a860a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	z-index: 500000000;
}

header .navbodhi {
	float: left; 
	width:56px; 
	height:56px; 
	padding:5px;
	bottom: 0px; 
	margin-top:-4px; 
	margin-right: 5px;
	overflow:hidden;
}

header .nave17 {
	float: right; 
	width:56px; 
	height:56px; 
	padding:5px; 
	bottom: 0px;
	margin-top:-4px; 
	padding-right: 5px; 
}

#nav {
	z-index: 1000;
	position: relative;
	font-size: 14px;
	margin-top: 5px;
	padding: 7px 6px 0;
	line-height: 100%;
	background: transparant;
	color: #ffffff; /* IE */
	color: rgba(255, 255, 255, 1);
	}

#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
z-index: 10;
}

/* main level link */
#nav a{
z-index: 10;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright:25px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-bottomright:25px;
	-webkit-border-top-left-radius:25px;
	-webkit-border-top-right-radius:25px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:25px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:25px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}
#nav .mobile {display:none;}
/* level 2 list */
#nav ul {
	z-index: 999999999999999999999999999999;
	background: #b1c75c; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b1c75c'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#b1c75c)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #b1c75c); /* for firefox 3.6+ */
	display: none;
	margin: 0;
	padding: 0;
	width: 220px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-top-left-radius:0px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-box-shadow: 0px 4px 14px #191919;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#nav {
	display: inline-block;
}

html[xmlns] #nav {
	display: block;
}

* html #nav {
	height: 1%;
}


@media screen and (min-width: 765px) {
/* main level link hover */
#nav li:hover > a {
	color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	background: rgb(255,211,0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,211,0,1)), color-stop(100%,rgba(242,123,15,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd300', endColorstr='#f27b0f',GradientType=0 ); /* IE6-8 */
	background: -moz-linear-gradient(top,  rgba(255,211,0,1) 0%, rgba(242,123,15,1) 100%);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #000;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
		-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
#nav ul li:first-child > a {
		-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:11px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:11px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	border-top-right-radius:11px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
#nav ul li:last-child > a {
		-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomright:11px;
	-moz-border-radius-bottomright:11px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
}
#nav ul a:hover {
	background: rgb(255,211,0)!important; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,211,0,1) 0%, rgba(242,123,15,1) 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,211,0,1)), color-stop(100%,rgba(242,123,15,1)))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%)!important; /* IE10+ */
	background: linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd300', endColorstr='#f27b0f',GradientType=0 )!important; /* IE6-8 */
	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
#nav li:hover > ul {
	display: block;
}

#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}


}
@media screen and (max-width: 940px) {
	header .nave17 {display:none;}	
}

@media screen and (max-width: 850px) {
	header .navbodhi {display:none;}	
header { 
	height:auto;
	top:0px; 
	left:0px; 
	right:0px; 
	position: relative; 
	border:0px;
	border-radius: 0px; 
	background: transparent;
}
#spacer { 
	margin-top: 50px;
	}

#nav {
	display: block;
}
#nav li { 
	width:50%;
	padding:0px;
	margin:0px;
	margin-bottom:-5px;
}
#nav li.qsindex{width:100%; text-align:center;}
#nav a {
	background: -moz-linear-gradient(top,  rgba(177,199,92,0.8) 0%, rgba(90,134,10,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,199,92,0.8)), color-stop(100%,rgba(90,134,10,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(177,199,92,0.8) 0%,rgba(90,134,10,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(177,199,92,0.8) 0%,rgba(90,134,10,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(177,199,92,0.8) 0%,rgba(90,134,10,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(177,199,92,0.8) 0%,rgba(90,134,10,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb1c75c', endColorstr='#e65a860a',GradientType=0 ); /* IE6-8 */
	border:1px solid #5a860a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom:5px;
	border:1px solid #5a860a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}
#nav a {
	border-radius: 0px;
}

#nav li:hover > a {
	color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	background: rgb(255,211,0);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,211,0,1)), color-stop(100%,rgba(242,123,15,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd300', endColorstr='#f27b0f',GradientType=0 ); /* IE6-8 */
	background: -moz-linear-gradient(top,  rgba(255,211,0,1) 0%, rgba(242,123,15,1) 100%);
}

/* Mobile Menu Fixes */
#nav li:nth-child(2), #nav li:nth-child(4), #nav li:nth-child(6){float: right;}
#nav li:focus > ul  { display: block; }
#nav .nav {display: none;}
#nav .mobile {display: block;}
#nav li:hover > ul {
	display: none;
}
}


@media screen and (max-width: 325px) { a.mobbtn{font-size:90%;}#nav .mobile {height: 25px;}}
@media screen and (max-width: 850px) {	.navonlowwidth {display: block; margin-left: 0px; margin-right: 0px;padding: 0;}}
/**************************

LINKS

**************************/
#nav li > a {color: #ffffff;}
a.mobbtn{
	display: block;
	margin-right: 15%;
	margin-left: 15%;
	padding: 2% 10%;
	margin-bottom: 5%;
	display: block;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
    border-radius: 25px 25px 25px 0px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	box-shadow: 0px 4px 14px #191919;
	background: -o-linear-gradient(top, rgba(177, 199, 92, 0.804) 0px, rgba(90, 134, 10, 0.898) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177, 199, 92, 0.8)), color-stop(100%,rgba(90, 134, 10, 0.9)));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb1c75c', endColorstr='#e65a860a',GradientType=0 );
    color: rgb(255, 255, 255);
    background: -moz-linear-gradient(center top , rgba(177, 199, 92, 0.8) 0%, rgba(90, 134, 10, 0.9) 100%) repeat scroll 0% 0% transparent;
}
a.mobbtn:focus, a.mobbtn:hover {
text-decoration: none;
color: white;
background: #FFD300;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 211, 0, 1)), color-stop(100%,rgba(242, 123, 15, 1)));
background: -o-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,211,0,1) 0%,rgba(242,123,15,1) 100%);
background: -moz-linear-gradient(top,  rgba(255,211,0,1) 0%, rgba(242,123,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd300', endColorstr='#f27b0f',GradientType=0 );
}
