.twentyheight {
height: 20%;
}
.thirtythreeheight {
height: 33%;
}
.hundredheight {
height: 100%;
}
.hundredwidth {
width: 98%;
}
.ninetywidth {
width: 89%;
}
.eightywidth {
width: 79%;
}
.seventywidth {
width: 69%;
}
.sixtywidth {
width: 58%;
}
.fiftyfivewidth {
width: 54%;
}
.fiftywidth {
width: 49%;
}
.fortysevenwidth {
width: 47%;
}
.fortyfivewidth {
width: 45%;
}
.fortywidth {
width: 40%;
}
.thirtysixwidth {
width: 36%;
}
.thirtythreewidth {
width: 33%;
}
.thirtywidth {
width: 29%;
}
.twentyfivewidth {
width: 24%;
}
.twentywidth {
width: 19%;
}
.sixteenwidth {
width: 16.5%;
}
.fourteenwidth {
width: 13.5%;
}
.tenwidth {
width: 9%;
}
.ninewidth {
width: 8%;
}
.eightwidth {
width: 7%;
}
