Package: radiance-blue-theme-gtk
Version: 0.5
Section: main
Architecture: all
Depends: light-themes
Priority: optional
Maintainer: Jeff Hoogland
Description: Radiance Theme - Blue
 Radiance gtk theme - blue

